# Ignore virtual environment
.venv/

# Ignore environment variable file
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system file
.DS_Store
